!!! 5
%html
  %head
    %title The Blue Mandarin Lab - Card Generator
    %link{rel: "stylesheet", type: "text/css", href: "/assets/bootstrap.css"}
    %script{:type => "text/javascript", :src => "/assets/bootstrap.js"}

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %ul.nav
            %li.active
              %a{href: "#"} Vocab Cards
            %li
              %a{href: "#"} Sentence Cards
    .container
      
    %h1 Vocab Cards
    %p
      hallo
