%h1 HTML Lookup
%form.well
  %h3 Word
  %input#html-input-word(syle="width: 50px;")
  <br><br>
  %a.btn.btn-primary#html-input-lookup Look up word
  <br>

  %h3 Cedict
  %textarea.span7#html-input-cedict(rows="6")

  %h3 Moedict
  %textarea.span7#html-input-moedict(rows="6")
