%h1 MCDs
%form.well
  %label
    :markdown
      This page takes a paragraph of Chinese text from which you can create MCDs in a very quick and efficiant manner. It then takes the list of created MCDs and adds dictionary entries to the cards.  

  -# FIXME This is probably not how this is supposed to be done
  #notes-label-input{:style => "float:right;"}
    %h3 Notes
    %textarea.span3#mcds-notes(rows="8" placeholder="These Notes will appear at the top of each card.")
  %h3 Input
  %textarea.span4#mcds-input(rows="8" placeholder="Paste your text here." width="100%")
    人民网北京4月18日电（高泽华）外交部发言人华春莹18日表示，近来日本领导人一再发表错误言论，意图非常清楚，无非有两个目的。一是转移视线，混淆视听，掩饰自己在历史问题上的倒行逆施。二是企图拉拢第三方牵制中国发展。这些指鹿为马、掩耳盗铃的伎俩，既骗不了别人，也吓不倒中国，是徒劳的，不可能得逞。

  <br>

  #mcds-display

  %h3 Cloze codes
  %input#mcds-code-input

  %h3 Clozed characters
  %textarea.span7#mcds-clozed-chars(rows="4" placeholder="The characters to be clozed will appear here, separated by spaces.")

  <br><br>

  %a.btn.btn-primary#mcds-lookup Generate cards

  <br><br>

  %textarea.span7#mcds-dict-output(rows="8" placeholder="The generated flashcards will appear here ready for import to Anki after you click on \"Look up Words\".")

