%h1 Vocab Cards
%form.well
  %label
    :markdown
      This page pinyinifies a string.
  %h3 Text
  %textarea.span7#pinyinify-text(rows="8" placeholder="Paste text here")

  <br><br>

  %a.btn.btn-primary#pinyinify-lookup Pinyinify

  <br><br>

  %textarea.span7#pinyinify-output(rows="8")
