%h1 Sentence Cards
%form.well
  %label
    :markdown
      This page takes a list of Chinese sentences, looks up words you don't know in [a dictionary](http://dict.revised.moe.edu.tw/index.html) and produces beautiful Anki cards of the type you can see on [this screenshot](/assets/images/sentences.png). The sentences can be simp/trad but the explanations on the cards will always be in traditional characters. To try it out, follow the instructions below.
  %h3 Sentence List
  %textarea.span7#sc-sentences(rows="8" placeholder="Add sentences here, separated by newlines, with the words that you want to look up in brackets. Example: [你好]我是[德國]人。")

  <br><br>

  %a.btn.btn-primary#sc-lookup Look up sentences

  <br><br>

  %textarea.span7#sc-output(rows="8" placeholder="The generated flashcards will appear here ready for import to Anki after you click on \"Look up Words\".")
