%h3 
  Tone Colours
%label 
  %small
    :escaped
      For this to work, your browser needs to implement the <input type="color"> tag.


Neutral: 
%input(type="color" name="vsc-tone-0" style="width: 30px;" value="#000000")
&nbsp;
First: 
%input(type="color" name="vsc-tone-1" style="width: 30px;" value="#00ac00")
&nbsp;
Second: 
%input(type="color" name="vsc-tone-2" style="width: 30px;" value="#021bff")
&nbsp;
Third: 
%input(type="color" name="vsc-tone-3" style="width: 30px;" value="#996633")
&nbsp;
Forth: 
%input(type="color" name="vsc-tone-4" style="width: 30px;" value="#ff0000")
&nbsp;

