%h1 Vocab Cards
%form.well
  %label
    :markdown
      This page takes a list of simplified or traditional Chinese words and turns them into Anki cards with the word on the front and pinyin and English definitions on the back. You can see an example of the type of cards this page produces [here](/assets/images/vocab-expl.png).
  %h3 Word List
  %textarea.span7#vc-words(rows="8" placeholder="Add words here, separated by newlines.")

  <br><br>

  %a.btn.btn-primary#vc-lookup Look up words

  <br><br>

  %textarea.span7#vc-output(rows="8" placeholder="The generated flashcards will appear here ready for import to Anki after you've added all the words and clicked on \"Look up Words\".")

  %textarea.span7#vc-not-found(rows="8" placeholder="The words that are not in the dictionary will appear here.")
